/* src/styles/global.css */

/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styling */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f7f9;
  color: #333;
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

/* Dashboard layout */
.dashboard-layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

h2{
  text-align: center;
  margin-top: 10px;
}

/* Forms */
.form-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.input,
textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.input:focus,
textarea:focus {
  border-color: #007bff;
  outline: none;
}

.error {
  color: #e74c3c;
  font-size: 0.875rem;
}

button {
  width: 90px;
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 6px;
  margin: 5px;;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add:hover{
  background-color: green;
}
.edit:hover, .delete:hover{
  background-color: red;
}

button:hover {
  background-color: #0056b3;
}

/* Tables */
.table-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  overflow-x: auto; /* Add horizontal scrolling for small screens */
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Ensures column widths are controlled */
}

th,
td {
  padding: 0.75rem;
  text-align: left;
  border: 1px solid #ddd;
  word-wrap: break-word; /* Ensure text wraps within cells */
}

th {
  background-color: #f8f9fa;
  font-weight: 600;
}

.booktable th:nth-child(5){
  width: 10%;
}
.authortable  th:nth-child(even){
  width: 10%;
}


tr:hover {
  background-color: #f1f1f1;
}

/* Responsive Design */
@media (min-width: 768px) {
  .dashboard-layout {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .dashboard-layout {
    grid-template-columns: 1fr 1fr;
  }
}

/* Responsive Table */
@media (max-width: 768px) {
  table {
    width: 100%;
    
  }

  tr {
    display: block;
    margin-bottom: 1rem;
  }

  td {
    display: flex;
    flex-direction: row;
    
    padding-left: 50%;
    border: none;
  }

}
